.App {
  text-align: center;
}

.react-pdf__Page__canvas {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: inline-block !important;
}

.react-pdf__Page__textContent {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

.editor {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.editorContainerPdf {
  height: 100vh;
  overflow: auto;
  width: 50%;
  background: #d3d3d3;
}

.editorContainerForm {
  width: 50%;
  overflow-y: auto;
  position: relative;
  height: 100vh;
}

.pageWrapper {
  width: 100%;
}

.formContainer {
  min-height: 50vh;
}

.jobCard {
  cursor: pointer;
  margin: 0 auto;
}

.jobCardBtns {
  margin-left: auto;
}

.jobCardInfo {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.jobDescLabel{
  font-size: small;
  color: grey;
  text-align: left;
}
.ql-container {
  font-size: 15px !important;
}

.ql-toolbar.ql-snow {
  text-align: left;
}

.ql-saveBtn {
  text-align: right;
  float: right !important;
  margin-right: 10px;
}

.nextPrevButtons {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  bottom: 20px;
}

@media (max-width: 768px) {
  .editor {
    display: block;
  }
  .editorContainerForm {
    width: 100%;
  }
  .editorContainerPdf {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  body,
  html {
    overflow: auto;
  }
}
