@import "fontRegister.css";
.App {
  text-align: center;
}

.react-pdf__Page__canvas {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: inline-block !important;
}

.react-pdf__Page {
  position: static !important;
}

.react-pdf__Page__textContent {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

.block-picker span div:hover {
  border: 2px solid #1e88e5;
}

.block-picker {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  margin: 0 auto;
}

.editor {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.editorContainerPdf {
  height: 100vh;
  overflow: auto;
  width: 50%;
  background: #d3d3d3;
}

.editorContainerForm {
  width: 50%;
  overflow-y: auto;
  position: relative;
  height: 100vh;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.formContainer {
  flex: 1;
}

.formCard {
  cursor: pointer;
  width: 100%;
}

.formCardBtns {
  margin-left: auto;
  display: flex;
}

.formCardInfo {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.pageWrapper {
  width: 100%;
}

.quillFormLabel {
  font-size: small;
  color: grey;
  text-align: left;
}
.ql-container {
  font-size: 15px !important;
}

.ql-toolbar.ql-snow {
  text-align: left;
}

.ql-saveBtn {
  text-align: right;
  float: right !important;
  margin-right: 10px;
}

.ql-editor ul li,
.ql-editor ul {
  padding-left: 5px !important;
}

.successImage {
  margin-top: 50px;
  width: 40%;
  margin: 60px auto;
}

.templateButton {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  position: relative;
}

.templateButton:hover {
  top: -10px;
}

.downloadButton:hover {
background-image: linear-gradient(90deg, rgba(194,24,91,1) 0%, rgba(57,73,171,1) 88%)!important;
}

@media (max-width: 768px) {
  .editor {
    display: block;
  }
  .editorContainerForm {
    width: 100%;
  }
  .editorContainerPdf {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  body,
  html {
    overflow: auto;
  }
  .block-picker {
    width: 100%;
  }
}
